# supports env variables
version: 1 # is default

dryRun: false # is default

api:
    token: bb74abe565ec005944ffcbfa846431e1 # required
#    server: https://api.loader.io # is default
#    version: v2 # is default

app:
    domain: https://www.example.com  # required

tasks:
    tasks1:
        name: $CI_ENV-test1 # required
#        type: per-test
        type: per-second # is default --> test_type
#        type: maintain-load
        duration: 60 # in seconds
        clientsStart: 1 # is default, only for "Maintain client load" test type --> initial
        clients: 25 # --> total
        timeout: 10000 # is default, in milliseconds
        notes: "" # is default
        tags: # default is not exists --> tag_names
            - tag 1
            - tag 2
        threshold:
            avgResponseTime: 500 # is default, in milliseconds
            avgErrorRate: 50 # is default, in percent
        request: # required
            path: /nuff/narf # required --> url
            type: GET # is default --> request_type
#            type: POST
#            type: PUT
#            type: PATCH
#            type: DELETE
            payloadFile: https://www.example.de/file # default is null --> payload_file_url
            headers: # default are following values
                accept-encoding: gzip
            parameters: # default is null --> request_params
                - name: parameter 1
                  value: value of parameter 1
                - name: parameter 2
                  value: value of parameter 2
            authentication: # default is null
                type: basic # is default
                login: login # required if authentication is defined
                password: password # required if authentication is defined
            variables:  # default is null
                - name: variable 1 name # required
                  property: variable 1 property # required
                  source: variable 1 source # required, default is 'header', valid is [header]
                - name: variable 2 name # required
                  property: variable 2 property # required
                  source: variable 2 source # required
        requests: # this is a list of request options. An entry has the same as the request entry
                  # if both keys "request" and "requests" defined, then the value from request will be first and every entry of "requests" will be added after "request"
            - ... # here comes the "request" object
